# Learning outcome

### 1. Farmiliar with Jupyter Notebook enviorment
### 2. Learn how to use shortcouts, understanbd variables
### 3. Learn to use arithematic operations
### 4. Learn to use if, while and for loops

# 1. Some shortcuts

Control+M M will convert a code cell to a text cell.\
Control+M Y will convert a text cell to a code cell.\
+Code to add a line of code.\
+Text to add a line of text.\
Press Upper + Enter to execute

# 2. Variables (integer, float, string and boolean)

In [ ]:
price =10 #price is an intenger
print(price) #to print out the variable
type(price) #using type() to find the types of variable

10

int

In [ ]:
rate =4.9 #rate is a float(a number with a decimal point)
print(rate) #to print out the variable
type(rate) #using type() to find the types of variable

4.9

float

In [ ]:
course_name = 'CMT Data Science' # course name is string (a sequence of characters), must use '_' to link the words
print(course_name) #to print out the variable
type(course_name) #using type() to find the types of variable

In [ ]:
registered=True #registered is a boolean. Blooean values only can be True or False
print(registered) #to rpint out the variable
type(registered) #using type() to find the types of variable

# Comments

We use comments to add notes to our code. Good comments explain the hows and whys, not what the code does. That should be reflected in the code itself. Use
comments to add reminders to yourself or other developers, or also explain your assumptions and the reasons you’ve written code in a certain way. #This is a comment and it won’t get executed. \

Type '#' and a space and a text can creat headings

# 3. Arithmetic operation

In [ ]:
#We can input the first number
input_1=float(input('X_1=')) 
#The input() function always returns data as a string. 
#So we are coverting the result into a float by calling the build
#You can use type(input_1) to check the type of data

X_1=13

In [ ]:
#We can input the second number
input_2=int(input('X_2=')) 
#The input() function always returns data as a string. 
#So we are coverting the result into a float by calling the build
#You can use type(input_2) to check the type of data

X_2=5

### Addition, subtraction and multiplication , use "+", "-" and "*" respectivly

In [ ]:
answer_1=input_1+input_2
print('answer_1=',answer_1) #here input_1 is a float, input_2 is an integer, the answer is a float

answer_1= 36.0

In [ ]:
#alternatively,
a=3+5
a

8

In [ ]:
answer_2=input_1-input_2
print('answer_2=',answer_2)

In [ ]:
#alternatively,
b=3-5
b

In [ ]:
answer_3=input_1*input_2
print('answer_3=',answer_3)

In [ ]:
#alternatively,
c=3*5
c

In [ ]:
#alternatively,
c=3*'not'
c

'notnotnot'

### For division, use "/" (returns a float),  "//" (returns an int) and  "%" (returns the remainder of division)

In [ ]:
answer_4=input_1/input_2
print('answer_4=',answer_4) #The 'answer' is a string, the variable name

answer_4= 2.6

In [ ]:
answer_5=input_1//input_2
print('answer_5=',answer_5)

answer_5= 2.0

In [ ]:
answer_6=input_1%input_2
print('answer_6=',answer_6)

### For the power, use "**"

In [ ]:
answer_7=input_1**input_2
print('answer_7=',answer_7)

answer_7= 371293.0

### Augumented assigment operator: "x=x+y" is the same as "x+=y"

In [ ]:
x=2
x=x+10
print(x)

#alternatively, 
y=5
y+=10
print(y)

12
15

## If statements

In [ ]:
if input_1>input_2: # the ":" makes the indentation and the indented print() is a part of the "if" statement
    print(input_1)
    
elif input_1<input_2: #elif is a start of noew function, should not have indentation
    print(input_2)
    
else:
    print("input_1=input_2")

13.0

## Comparision opertor

In [ ]:
a=5
b=6
a > b

False

In [ ]:
a=5
b=6

a >= b #(greater than or equal to)

In [ ]:
a=5
b=6
a < b

In [ ]:
a=5
b=6
a <= b

In [ ]:
a=5
b=6
a == b #(equals)
a != b #(not equals)

In [ ]:
a=5
b=6
a != b #(not equals)

## While loop

In [ ]:
i=1
while i<4:
    print(i)
    i+=1   #both lines should be indented. The while loops stops once i=4

1
2
3

## For loop

In [ ]:
for i in range (3,5): # 3<=i<5
    print(i)

3
4