# **Practice Python codes for statistics project -Titanic, 2023-24**
# Data Set: Titanic


*   Sorting and prepartion of data
*   Calculate for central tendency and spread #
*   Visual representaion of data #
*   Inferrential anaylisis

# **Importing Data**

In [2]:
#We import some packages (tools)
import pandas as pd  #import pandas and call it pd
import numpy as np   #import numpy and call it np
import matplotlib.pyplot as plt


%matplotlib inline

Matplotlib is building the font cache; this may take a moment.

In [3]:
#Upload file from GitHub\
#Click on the dataset in your GitHub repository, then click on Raw on the righthand side.
#Copy the link to the raw dataset and paste it as a string variable called url in Colab as shown below (a cleaner method but itâ€™s not necessary).
#The last step is to load the url into Pandas read_csv to get the dataframe.
url='https://raw.githubusercontent.com/srsq64/CMT-Data-Science/main/Titanic%20trainning%20set%20cleaned.csv'
Titanic=pd.read_csv(url)
Titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,FS,Ticket,Fare,Embarked
0,342,1,1,"Fortune, Miss. Alice Elizabeth",female,24.0,3,2,6,19950,263.0000,S
1,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,6,19950,263.0000,S
2,743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.0,2,2,5,PC 17608,262.3750,C
3,312,1,1,"Ryerson, Miss. Emily Borie",female,18.0,2,2,5,PC 17608,262.3750,C
4,764,1,1,"Carter, Mrs. William Ernest (Lucile Polk)",female,36.0,1,2,4,113760,120.0000,S
...,...,...,...,...,...,...,...,...,...,...,...,...
709,221,1,3,"Sunderland, Mr. Victor Francis",male,16.0,0,0,1,SOTON/OQ 392089,8.0500,S
710,283,0,3,"de Pelsmaeker, Mr. Alfons",male,16.0,0,0,1,345778,9.5000,S
711,575,0,3,"Rush, Mr. Alfred George John",male,16.0,0,0,1,A/4. 20589,8.0500,S
712,765,0,3,"Eklund, Mr. Hans Linus",male,16.0,0,0,1,347074,7.7750,S
713,732,0,3,"Hassan, Mr. Houssein G N",male,11.0,0,0,1,2699,18.7875,C

In [4]:
# To find property of data
Titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  714 non-null    int64
 1   Survived     714 non-null    int64
 2   Pclass       714 non-null    int64
 3   Name         714 non-null    object
 4   Sex          714 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        714 non-null    int64
 7   Parch        714 non-null    int64
 8   FS           714 non-null    int64
 9   Ticket       714 non-null    object
 10  Fare         714 non-null    float64
 11  Embarked     712 non-null    object
dtypes: float64(2), int64(6), object(4)
memory usage: 67.1+ KB

In [5]:
Titanic.columns #This gives you the heading of each column, a very useful information

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'FS', 'Ticket', 'Fare', 'Embarked'],
      dtype='object')

# **Sampling methods**

# **Produce contigency tables**

# **Mean, Median, Mode, LQ, UP, Standard deviation, minimum and maximum**

# **Visual represenation of data**

#### Note: You can right click the produced charts and copy and paste to your report

## 1. Produce a bart chart
### Use family size (FS) as an example

## 2. Produce a compund bart chart

### use the Sex and Survived columns as an example

## 3. Produce a pie chart
### Use family size as an example

## 4. Box & Whisker
### Use the Age data

## 5. Frequency Histigrame using pli.hist
### Use the Age data

## 6. Cumulative frequency chart
### Use the Age data as an example

# **Infrential anyalsis-Hypothesis testing**

## 1. Two sample t-test
### Use "Survived" and "Fare" variable for single family

## 2. Paired t-test

## 3. Linear regression

### Scatter diagram

### Hypothesis testing for linear correlation between two varibles

## 4. Chi squared test

#### You can use this tool to test whether two categorical variables are related or independent.

#### Assumptions

#### Observations used in the calculation of the contingency table are independent.
#### 25 or more frequency in each cell of the contingency table.
#### Interpretation

#### H0: the two samples are independent.
#### H1: there is a dependency between the samples.