<a href="https://colab.research.google.com/github/srsq64/CMT-Data-Science/blob/main/Session_II_Introduction_to_Panda_Data_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Learning outcome**

Jean Mathias, Foundation Programme, Durham University

* Upload a dataframe.
* Access data from a 1D array.
* Simple arithmatic
* Sampling

In [1]:
#First we import some packages (tools)
import pandas as pd  #import pandas and call it pd
import numpy as np   #import numpy and call it np
import matplotlib.pyplot as plt

%matplotlib inline

# Input or Creat a series

In [2]:
#first upload file from GitHub\
#Click on the dataset in your repository, then click on View Raw. 
#Copy the link to the raw dataset and store it as a string variable called url in Colab as shown below (a cleaner method but it’s not necessary). 
#The last step is to load the url into Pandas read_csv to get the dataframe.
url='https://raw.githubusercontent.com/srsq64/CMT-Data-Science/main/Avonford_cleaned.csv'
cycling=pd.read_csv(url)
cycling

,first name,last name,gender,age,distance from home,cause,injuries,overnights in hospital,time of accident,Time of accident numerical,day of accident,month of accident,Officer reporting,wearing a helmet?
0,Sharon,Griffin,f,7.0,75 m,uneven pavement,broken leg,1,2:35,2.58,Saturday,May,45211,y
1,Fred,Fuller,m,6.0,20m,fell over,concussion,1,3:15,3.25,Sunday,September,39813,y
2,Seren,Maher,f,16.0,20m,hit kerb,dislocated elbow,0,7:00,7.00,Wednesday,November,78264,n
3,James,Moore,m,20.0,2km,trying to fix chain,partially severed finger,0,7:00,7.00,Monday,June,97655,n
4,Claire,Higgins,f,19.0,10 km,hit by car at roundabout,fractured arm and sprained wrist,0,7:45,7.75,Monday,February,78264,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,Alexander,Duggan,m,34.0,0.5 miles,brakes failed,concussion,0,19:30,19.50,Monday,January,39813,n
85,Cath,Pickin,f,16.0,half mile,puncture by nail,abrasions on leg,0,19:30,19.50,Tuesday,February,79655,y
86,John,Smith,m,45.0,3 km,skid,concussion,0,19:45,19.75,Tuesday,May,78264,y
87,Shelley,Mann,f,21.0,50m,slipped on wet leaves,"deep cuts to legs, strained wrist",0,21:00,21.00,Friday,January,97655,y
88,Luke,Murphy,m,20.0,3 miles,messing around,broken arm,0,22:00,22.00,Saturday,April,78264,y

In [3]:
cycling.info() #Here the data we imported is as dataframe that has rows and columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   first name                  89 non-null     object
 1   last name                   89 non-null     object
 2   gender                      89 non-null     object
 3   age                         89 non-null     float64
 4   distance from home          89 non-null     object
 5   cause                       89 non-null     object
 6   injuries                    89 non-null     object
 7   overnights in hospital      89 non-null     int64
 8   time of accident            89 non-null     object
 9   Time of accident numerical  89 non-null     float64
 10  day of accident             89 non-null     object
 11  month of accident           89 non-null     object
 12  Officer reporting           89 non-null     int64
 13  wearing a helmet?           89 non-null     object
dtypes: float64(2), int64(2), object(10)
memory usage: 9.9+ KB

In [7]:
age=cycling['age']  #Here we extraced a column as data series
age

0      7.0
1      6.0
2     16.0
3     20.0
4     19.0
      ...
84    34.0
85    16.0
86    45.0
87    21.0
88    20.0
Name: age, Length: 89, dtype: float64

In [13]:
age.shape

(89,)

# Some basic airthematic

In [18]:
A=2*age
B=age-10
print(A)
print(B)

0     14.0
1     12.0
2     32.0
3     40.0
4     38.0
      ...
84    68.0
85    32.0
86    90.0
87    42.0
88    40.0
Name: age, Length: 89, dtype: float64
0     -3.0
1     -4.0
2      6.0
3     10.0
4      9.0
      ...
84    24.0
85     6.0
86    35.0
87    11.0
88    10.0
Name: age, Length: 89, dtype: float64

# Access data

In [17]:
age.index  #This shows the range of index, from 0 to 88 inclusive.

RangeIndex(start=0, stop=89, step=1)

In [21]:
C=age[1]
C

6.0

In [22]:
d=age.iloc[0] # you can also using item location 0, 1, 2...
d

7.0

In [23]:
e=age.iloc[-1]  #-1 is the last item in the list
e

20.0

In [24]:
f=age[:5] # This is to access the firts five numbers
f

0     7.0
1     6.0
2    16.0
3    20.0
4    19.0
Name: Age, dtype: float64

In [25]:
g=age[2:5] # This is to access the numbers from index 2 to 4
g

2    16.0
3    20.0
4    19.0
Name: Age, dtype: float64

In [26]:
h=age.iloc[-5:-1]
h

84    34.0
85    16.0
86    45.0
87    21.0
Name: Age, dtype: float64

# Sampling methods

In [27]:
s1=age.sample() # This gives a randomly chosen number
print(s1)

5    52.0
Name: Age, dtype: float64

In [28]:
s2=age.sample(n=5) # This gives the defined number of randomly chosen samples
print(s2)

57    66.0
28    13.0
67     9.0
60    11.0
65    12.0
Name: Age, dtype: float64

In [29]:
s3=age.sample(frac=0.1) # morelike stretified, give a sample of 10% of total 
s3

27     5.0
37     9.0
9     15.0
61    61.0
83    37.0
53    16.0
17    64.0
14    22.0
30     9.0
Name: Age, dtype: float64

In [31]:
s4=age[age<18] #This give all the samples that age<18
s4

0      7.0
1      6.0
2     16.0
7     10.0
8     17.0
9     15.0
12    14.0
13    13.0
21    15.0
27     5.0
28    13.0
30     9.0
33     8.5
34     8.0
36    12.0
37     9.0
47     6.5
50     7.0
51     9.0
52     9.0
53    16.0
54    15.0
55    11.0
59    10.0
60    11.0
64    17.0
65    12.0
67     9.0
69    13.0
76    16.0
77    10.0
78     7.0
79    14.0
85    16.0
Name: Age, dtype: float64

In [32]:
rate=5
s5=age[::rate] #This is close to systermatic sampling with evey 5 interval, always start from index=0
s5

0      7.0
5     52.0
10    60.0
15    23.0
20    25.0
25    36.0
30     9.0
35    52.0
40    26.0
45    34.0
50     7.0
55    11.0
60    11.0
65    12.0
70    18.0
75    62.0
80    32.0
85    16.0
Name: Age, dtype: float64